@media (min-width: 1024px) {
    .top-navigation
    .trigram {
        display: none;
    }
    
    /* DESKTOP VIEW */



    nav li a:hover {
        transition: color 2.5s;
        color: #377DFF;
        font-weight: 700;
    }

    .buy-now:hover {
        background-color: #FFFFFF;
        color: #377DFF;
    }

    .play-video:hover {
        background-color: #FFFFFF;
        color: #377DFF;
    }

    .google, 
    .google-ads,
    .asana {
        animation: logos 0.5s none 1 linear 0.5s;
    }

    @keyframes logos {
        0% {
            transform: translateX(1000%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .atlassian,
    .paypal,
    .weave,
    .calendar {
        animation: logoa 0.5s none 1 linear 0.5s;
    }

    @keyframes logoa {
        0% {
            transform: translateY(1000%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .learn-more:hover {
        color: #377DFF;
    }
}