* {
    margin-inline-start: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* Header Content */
.nav-header {
    display: flex;
    flex-direction: column;

}

.header-content {
    width: 1024px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 86px;
}

.logo {
    width: 175px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.top-navigation {
    display: flex;
}

.top-navigation
.trigram {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.top-navigation ul {
    display: flex;
    gap: 5px;
    list-style-type: none;
}

.top-navigation ul li {
    width: 80px;
    text-align: center;
    align-content: center;
}

.top-navigation ul li a,
.top-navigation .trigram {
    text-decoration: none;
    color: #737373;
}

.buy-now {
    width: 102px;
    height: 45px;
    border-radius: 23px;
    border-color: #377DFF;
    background-color: #377DFF;
    color: white;
}

.header-content
.company-slogan {
    display: flex;
    width: 482px;
    height: 406px;
}

.company-slogan {
    width: 482px;
    background-image: url(../assets/bg/background-top.svg);
}

.company-slogan h2 {
    width: 334px;
    font-size: 40px;
    font-weight: 500;
}

.company-slogan div p {

}

.learn-more {
    display: flex;
    gap: 20px;
}

.play-video {
    width: 137px;
    height: 48px;
    border-radius: 30px;
    border-color: #377DFF;
    background-color: #377DFF;
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.play {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-color: white;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-play {
    width: 50%;
    height: 50%;
    color: #377DFF;
    
}