* {
    margin-inline-start: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.content {
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* Header Content */
.nav-header {
    display: flex;
    flex-direction: column;

}

.header-content {
    width: 1024px;
    height: 86px;
    background-color: #F6F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 30px;
    height: 86px;
}

.logo {
    width: 175px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.top-navigation {
    display: flex;
    padding: 0 40px 0 0;
}

.top-navigation
.trigram {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.top-navigation ul {
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    list-style-type: none;
}

.top-navigation ul li {
    height: 17px;
}

.top-navigation ul li a,
.top-navigation .trigram {
    text-decoration: none;
    color: #737373;
}

.buy-now {
    width: 102px;
    height: 45px;
    border-radius: 30px;
    border-color: #377DFF;
    background-color: #377DFF;
    color: #ffffff;
}

.header-content
.company-slogan {
    width: 482px;
    height: 406px;
}

div.company-motto {
    margin: 0 auto;
    width: 1024px;
    height: 406px;
    background-image: url(../assets/bg/background-top.svg);
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 30px ;
}

.company-slogan {
    width: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-slogan h2 {
    width: 334px;
    font-size: 40px;
    font-weight: 500;
}

.company-slogan div p {
    font-weight: 500;
    font-size: 12px;
    align-content: center;
}

.learn-more {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #677788;
}

.play-video {
    width: 137px;
    height: 48px;
    border-radius: 30px;
    border-color: #377DFF;
    background-color: #377DFF;
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.play {
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background-color: white;
}

.fa-play {
    width: 10px;
    height: 10px;
    color: #377DFF;
    margin: 4px auto;
}

.ad-logos {
    width: 482px;
    height: 406px;
    position: relative;
}

.google {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/google.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 64px;
}

.atlassian {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/atlassian.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 175px;
}

.asana {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/asana.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    left: 380px;
}

.paypal {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/paypal.jpg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 172px;
    left: 44px;
}

.weave {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/weave.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 172px;
    left: 262px;
}

.google-ads {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/google-ads.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 290px;
    left: 155px;
}

.calendar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url(../assets/logos/calendar.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 310px;
    left: 364px;
}

.company-choose {
    width: 1024px;
    height: 354px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.why-us {
    width: 600px;
    height: 89px;
    display: flex;
    flex-direction: column;
}

.why-front h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 26px;
    margin: 0;
}

.why-front p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

/* company choose */
.reasons {
    width: 224px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.point-box {
    width: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    width: 83px;
    height: 1px;
    background: #E6E9F2;
}

.sub-spacer {
    width: 83px;
    height: 1px;
    color: #FFFFFF;
}

.points {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ECF2FF;
    position: relative;
}

.inner-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #0066FF;
    position: absolute;
    top: 22px;
    left: 22px;
}

.point-text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* Pricing section */
.company-pricing {
    width: 1024px;
    height: 692px;
    margin: 0 auto;
    
}

.pricing-text {
    text-align: center;
    padding-bottom: 50px;
}

.pricing-content {
    width: 290px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pricing-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: #677788;
    margin: 0;
}

.price-box {
    width: 114px;
    height: 61px;
    display: flex;
    align-items: flex-end;
}

.price {
    font-size: 50px;
    font-weight: 700;
}

.sub-options {
    display: flex;
    justify-content: space-around;
}

.subscription-content {
    width: 370px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 5px solid #677788; */
    box-shadow: 0px 0px 15px 2px #888888;
    padding: 40px;
}

.subscription {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #677788;
    padding: 0 0 8px 5px;
}

.divider {
    width: 290px;
    height: 1px;
    background: #8D8D8D;
}

.no-card {
    width: 137px;
    height: 73px;
}

#card {
    font-weight: 500;
    font-size: 13px;
    color: #677788;
}

.options {
    width: 564px;
    height: 452px;
    border: 2px solid transparent;
    display: flex;
    flex-wrap: wrap;
}

.options h2 {
    font-weight: 700;
    font-weight: bold;
    font-size: 16px;
}

.options p {
    font-size: 14px;
    font-weight: 500;
    color: #677788;
}

.option {
    width: 277px;
    height: 219px;
    border: 5px solid transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.symbol {
    width: 50px;
    height: 50px;
}

.company-registry {
    width: 1024px;
    height: 709px;
    background-color: #20335B;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.hire-us {
    width: auto;
    height: auto;
    color: #FFFFFF;
}

.hire-us p {
    color: #677788;
}

.separate {
    width: auto;
    height: 1px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.man {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../assets/images/man_one.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.form {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    gap: 10px;
}

.form-text {
    text-align: center;
}

.form-control {
    width: 482px;
    display: flex;
    flex-wrap: wrap;
}

#firstName {
    width: 186px;
    height: 44px;
}

#lastName {
    width: 186px;
    height: 44px;
}

#email {
    width: 392px;
    height: 44px;
}

#budget-select {
    width: 186px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
}

#country-select {
    width: 186px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
}